@import url("/css/components/variables.css");

.form-container {
    border: 1px solid rgb(219, 219, 219);
    padding: 50px 70px;
    margin-top: 30px;
    background-color: var(--drity-white);
    font-family: "TikTok Sans", sans-serif;
    margin-bottom: 100px;
}

.form-title {
    font-size: 20px;
}

.form-container label,
.col-form-label {
    font-size: 15px;
    font-weight: 700;
    color: black;
}

.form-container .required {
    font-weight: 400;
    color: var(--text-red);
}

.info-header .fullname {
    color: var(--black);
    font-size: 30px;
    font-weight: 600;
    font-family: "TikTok Sans", sans-serif;
}
.accounts-table thead th {
    background-color: var(--text-blue);
    color: var(--white);
    font-size: 15px;
    font-weight: 500;
}
.accounts-table th.sortable {
    cursor: pointer;
    user-select: none;
}

.accounts-table th.sorted {
    background-color: rgb(83, 139, 196);
}

.accounts-table .sort-icons {
    display: inline-block;
    margin-left: 5px;
    font-size: 0.8em;
}

.accounts-table .sort-icons .asc,
.accounts-table .sort-icons .desc {
    opacity: 0.3;
    display: inline-block;
    margin: 0 1px;
}

.accounts-table .sort-icons .active {
    opacity: 1;
    color: var(--white);
    font-weight: bold;
}

.accounts-table a {
    text-decoration: none;
    color: var(--black);
}

.accounts-table a:hover {
    color: var(--main-blue);
}
@media screen and (max-width: 500px) {
    .form-container {
        padding: 20px 20px;
    }
}
