@import url("/css/components/variables.css");
.main-container {
    padding: 0 1rem;
    max-width: 1400px;
    margin: 0 auto;
}
.form-title {
    font-size: 20px;
}

.form-container label,
.col-form-label {
    font-size: 15px;
    font-weight: 500;
    color: black;
}
.form-control:read-only {
    background-color: #f8f9fa;
}
.form-container .required {
    font-weight: 400;
    color: var(--text-red);
}
.profile-img {
    aspect-ratio: 4/4;
    object-fit: cover;
}
.info-header .fullname {
    color: var(--black);
    font-size: 30px;
    font-weight: 600;
}
.table-container {
    background: #fff;
    border-radius: 1rem;
    padding: 1.5rem;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
    margin-top: 2rem;
}
.sortable-table {
    border-bottom: 2px solid var(--main-blue);
    width: 100%;
    border-collapse: collapse;
}

.sortable-table th,
.sortable-table td {
    border: 1px solid rgb(218, 218, 218);
    font-size: 15px;
}

.sortable-table th:first-child,
.sortable-table td:first-child {
    width: 70px;
    min-width: 70px;
    max-width: 100px;
    white-space: nowrap;
}
.sortable-table th:last-child,
.sortable-table td:last-child {
    width: 120px;
    min-width: 120px;
    max-width: 120px;
    white-space: nowrap;
}

.sortable-table thead th {
    background-color: var(--main-blue);
    border-top: 2px solid var(--main-blue);
    border-bottom: 2px solid var(--main-blue);
    color: var(--white);
    font-weight: 500;
    text-align: center;
}

.sortable-table th.sortable {
    cursor: pointer;
    user-select: none;
}

.sortable-table th.sorted {
    background-color: #4351b4;
}

.sortable-table .sort-icons {
    display: inline-block;
    margin-left: 5px;
    font-size: 0.8em;
}

.sortable-table .sort-icons span {
    opacity: 0.3;
    margin: 0 1px;
}

.sortable-table .sort-icons .active {
    opacity: 1;
    color: var(--white);
    font-weight: bold;
}

.sortable-table tbody tr:hover td {
    background-color: rgb(240, 240, 240);
    color: black;
}

.sortable-table tbody tr:hover td:first-child {
    border-left: 2px solid var(--main-blue);
}
.sortable-table th:first-child {
    border-left: 2px solid var(--main-blue);
}
.sortable-table th:last-child {
    border-right: 2px solid var(--main-blue);
}

.sortable-table .edit-btn {
    color: var(--main-blue);
}

.sortable-table .delete-btn {
    color: var(--text-red);
}

.addnew-title {
    font-size: 23px;
    color: var(--black);
    margin-bottom: 20px;
}
.add-extinguisher-container {
    font-family: "TikTok Sans", sans-serif;
    padding: 40px;
    border-radius: 1rem;
    background-color: var(--white);
}

.add-extinguisher-container label {
    font-weight: 500;
}

.table-container-fluid {
    margin: 0px 100px;
}

.border-success {
    border: 1px solid green !important;
}

.border-danger {
    border: 1px solid rgb(226, 6, 6) !important;
}

.validation-title {
    font-size: 15px;
    font-weight: 400;
    font-style: italic;
}
.question-green {
    color: #0c882a;
}
.question-blue {
    color: #074ba4;
}
.question-red {
    color: #cb2613;
}

.pagination .page-item.active .page-link {
    background-color: var(--main-blue);
    border-color: var(--main-blue);
    color: #fff;
}
.add-new-btn {
    background-color: var(--main-blue);
    border-radius: 20px;
    color: var(--white);
    transition: 0.2s ease-in-out;
}
.add-new-btn:hover {
    border: 1px solid var(--main-blue);
    color: var(--main-blue);
}
.add-new-btn:active {
    transform: scale(0.95);
}

.save-btn {
    background-color: var(--green);
    border-radius: 20px;
    color: var(--white);
    transition: 0.2s ease-in-out;
}
.save-btn:hover {
    border: 1px solid var(--green);
    color: var(--green);
}
.save-btn:active {
    transform: scale(0.95);
}

.cancel-btn {
    background-color: var(--gray);

    border-radius: 20px;
    color: var(--white);
    transition: 0.2s ease-in-out;
}
.cancel-btn:hover {
    border: 1px solid var(--gray);
    color: var(--gray);
}
.cancel-btn:active {
    transform: scale(0.95);
}

.red-btn {
    background-color: var(--text-red);
    border-radius: 20px;
    color: var(--white);
    transition: 0.2s ease-in-out;
}
.red-btn:hover {
    border: 1px solid var(--text-red);
    color: var(--text-red);
}
.red-btn:active {
    transform: scale(0.95);
}

.bounce-icon {
    animation: bounce 1s infinite;
}
.form-check-input {
    transform: scale(1.5);
    cursor: pointer;
}

.form-check-input:checked {
    background-color: var(--main-blue);
    border-color: var(--main-blue);
}
@keyframes bounce {
    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-8px);
    }
}
@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    50% {
        transform: scale(1.2);
        opacity: 0.7;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@media (max-width: 576px) {
    .floating-alert {
        left: 10px;
        right: 10px;
        width: auto;
        max-width: calc(100% - 20px);
    }
}
@media screen and (max-width: 500px) {
    .form-container {
        padding: 20px 20px;
    }
    .add-extinguisher-container {
        padding: 10px;
    }
    .addnew-title {
        font-size: 19px;
        margin-bottom: 10px;
    }
}
