@import url("/css/components/variables.css");
.pageHeaderDiv {
    padding-left: 10px;
    margin-top: 20px;
}

.pageHeaderText {
    color: #31708f;
    font-size: 18px;
    font-family: "NU Font Bold";
}

.main-container {
    margin-top: 30px;
}

.menu-title-icon {
    display: inline-block;
    color: #35408e;
    font-size: 35px;
    margin-bottom: -5px;
}

.menu-title {
    font-family: "NU Font Bold";
    font-size: 16px;
}

.menu-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 290px));
    gap: 40px;
    transition: all 0.3s ease-in-out;
}

.menu-box {
    position: relative;
    background-color: #fff;
    box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.1);
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    height: 140px;
    padding: 20px;
    will-change: transform, opacity;
    transition: all 0.3s ease-in-out;
    animation: slideFadeIn 0.4s ease-in-out;
}

.menu-box-link {
    position: absolute;
    inset: 0;
    z-index: 1;
    text-decoration: none;
}

.menu-box:hover {
    background-color: #d4edff;
}

.menu-icon {
    font-size: 25px;
    text-align: center;
}

.menu-icon i {
    color: var(--green);
}

.module-name {
    font-family: "NU Font";
    font-size: 13px;
    color: var(--text-blue);
}

.module-description {
    padding-top: 5px;
    font-family: "NU Font";
    display: block;
    max-width: 100%;
    margin: 0 auto;
    line-height: 1.2;
    font-size: 11.9px;
}
@keyframes slideFadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@media screen and (max-width: 768px) {
    .menu-container {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
}
@media screen and (max-width: 500px) {
    .main-container {
        margin-top: 10px;
    }
    .menu-container {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
    .menu-container {
        gap: 20px;
    }
    .menu-box {
        will-change: transform, opacity;
        display: flex;
        flex-direction: column;
        height: 100%;
    }
}
